{
  "openapi": "3.0.1",
  "info": {
    "title": "Run APIs",
    "description": "",
    "version": "1.0.0"
  },
  "tags": [],
  "paths": {
    "/run": {
      "post": {
        "summary": "https://api.finigami.com/v1/run",
        "deprecated": false,
        "description": "",
        "tags": [],
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "description": "Get your API key from finigami.com/settings",
            "required": true,
            "example": "<api_key>",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description":"Send file as a binary"
                  },
                  "upload_type": {
                    "example": "document",
                    "type": "string",
                    "description": "This should always be document"
                  },
                  "workflow_id": {
                    "example": "51bbfd6c-884d-4311-a25e-223c54598a5f",
                    "type": "string",
                    "description":"This is the ID for the template created for your document type. If you're unsure, please reach out to us."
                  }
                },
                "required": [
                  "file",
                  "upload_type",
                  "workflow_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The response will be a JSON object containing all the keys mentioned in the template.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    }
  },
  "servers": [
    {
      "url": "https://api.finigami.com/v1",
      "description": "Production server"
    }
  ]
}